@model IEnumerable<Sinem.Models.Vista_Asistencia>

@{
    ViewBag.Title = "Index"; @*titulo llamado index*@
}

<h2>AsistenciaProfesores @DateTime.Today.ToLongDateString()</h2> @*tamaño*@

<table class="table">
    <tr>
        <th>
            @*encabezado de la tabla que lo pone en negrita *@

            nombre
        </th>
        <th>
            apellidos
        </th>
        <th>
            asistencia @*muestra la etiqueta asistio *@
        </th>
        <th>
            observaciones @*muestra la etiqueta observaciones *@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*Es cada celda*@
                @Html.DisplayFor(modelItem => item.nombre) @*muestra la etiqueta  idGestionCurso *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos) @*muestra la etiqueta fecha *@
            </td>
            <td>
                @Html.EditorFor(modelItem => item.asistio) @*muestra la etiqueta asistio *@
            </td>
            <td>
                @Html.EditorFor(modelItem => item.observaciones) @*muestra la etiqueta observaciones *@
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.idUsuario) @*muestra la etiqueta idUsuario *@
            </td>
        </tr>
    }

</table>
