@model IEnumerable<Sinem.Models.Horario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoDuracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioModifica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempoDuracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModifica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idHorario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idHorario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idHorario })
        </td>
    </tr>
}

</table>
