@model IEnumerable<Sinem.Models.Horario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de horarios</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoDuracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempoDuracion)
        </td>
        <td>
            @Html.ActionLink("editar", "Edit", new { id = item.idHorario }) |
            @Html.ActionLink("ver detalles", "Details", new { id = item.idHorario }) |
            @Html.ActionLink(item.estado == "activo" ? "desactivar" : "activar", "Delete", new { id = item.idHorario })
        </td>
    </tr>
}

</table>
