@model Sinem.Models.AsistenciaEstudiante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsistenciaEstudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idGestionCurso) @*muestra la etiqueta *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idGestionCurso) @*muestra el valor *@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha) @*muestra la etiqueta *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha) @*muestra el valor *@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asistio) @*muestra la etiqueta *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asistio) @*muestra el valor *@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones) @*muestra la etiqueta *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones) @*muestra el valor *@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica) @*muestra la etiqueta *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica) @*muestra el valor *@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModifica) @*muestra la etiqueta *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModifica) @*muestra el valor *@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuario) @*muestra la etiqueta *@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario) @*muestra la etiqueta *@
        </dd>

    </dl>
</div>

@*botonoes regresar y editar*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAsistenciaEstudiante }) @*boton ditar*@
    @Html.ActionLink("Back to List", "Index") @*boton regresar*@
</p>
