@model Sinem.Models.Aula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroAula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroAula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Model.fechaModifica.ToString("yyyy/MM/dd")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModifica)
        </dt>

        <dd>
            @Model.usuarioModifica
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
