@model Sinem.Models.Aula

@{
    ViewBag.Title = "Edit";
}

@*Este el el codigo desarrollado para que no se puedan teclear las letras y que solo los numeros se puedan usar*@
<script language='JavaScript'>
    function SomenteNumero(e) {
        var tecla = (window.event) ? event.keyCode : e.which;
        if ((tecla > 47 && tecla < 58)) return true;
        else {
            if (tecla == 8 || tecla == 0) return true;
            else return false;
        }
    }
</script>



<h2>Editar aula</h2>


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Aula</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idAula)
        @Html.HiddenFor(model=>model.estado)
        <div class="form-group">
            @Html.LabelFor(model => model.numeroAula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroAula, new { htmlAttributes = new { @data_val = false, @readonly = true, @class = "form-control", @onkeypress = "return SomenteNumero(event)" } })
                @* @Html.EditorFor(model => model.numeroAula, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.numeroAula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoAula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipoAula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipoAula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.usuarioCrea)
    @Html.Hidden("fechaRegistro", Model.fechaRegistro.ToShortDateString())

    @Html.Hidden("fechaModifica", DateTime.Today.ToShortDateString())
    @Html.Hidden("usuarioModifica", User.Identity.Name)

}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
