@model IEnumerable<Sinem.Models.Aula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numeroAula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoAula)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numeroAula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoAula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAula }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAula })
        </td>
    </tr>
}

</table>
