@model IEnumerable<Sinem.Models.Aula>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de aulas</h2>

<p>
    @Html.ActionLink("Crear nueva aula", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numeroAula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoAula)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numeroAula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoAula)
        </td>
        <td>
            @Html.ActionLink("editar", "Edit", new { id = item.idAula }) |
            @Html.ActionLink("ver detalles", "Details", new { id = item.idAula }) |

            @Html.ActionLink(item.estado == "activo" ? "desactivar" : "activar", "Delete", new { id = item.idAula })
        </td>
    </tr>
}

</table>
