@model Sinem.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Dirección
        </dt>

        <dd>
            @((ViewBag.Direcciones as List<Sinem.Models.Direccion>).Where(x => x.idDireccion == Model.idDireccion).FirstOrDefault().descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>
        @*
            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.correo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.correo)
            </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModifica)
        </dd>

    </dl>
    <h3>Informacion de contacto</h3>

    <table class="table">
        <tr>
            <th>
                Dato
            </th>

            <th>
                Valor
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Contactos)
        {
            <tr>
                <td>
                    @item.tipoDato
                </td>

                <td>
                    @item.dato
                </td>
                <td>
                    @Html.ActionLink("editar", "EditContactDetail", new { id = item.idContacto })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Regresar", "Index")
</p>
