@model List<Sinem.Models.Vista_CursoMatriculable>
@{
    Layout = null;
    var primero = Model.First();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <img alt="Brand" src="@Context.Server.MapPath("~/Content/descarga.png")" align="left" width="55" height="55">
    <h4 align="center">Escuela de Música del Sistema Nacional de Educación Musical</h4>
    <h4 align="center">en Parque la Libertad, Desamparados</h4>
    <h5 align="center">Comprobante de matricula</h5>
    <table cellpadding="2">
        <tr>
            <td>Fecha:</td>
            <td>@primero.fechaActual.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Cedula del Estudiante:</td>
            <td>@primero.cedula</td>
        </tr>
        <tr>
            <td>Nombre del Estudiante:</td>
            <td>@primero.nombreE</td>
        </tr>
    </table>

    @foreach (var  i in Model) { 
    <table border="1" cellpadding="2">
        <tr>
            <td>Codigo del Curso:</td>
            <td>@i.idGC</td>
        </tr>
        <tr>
            <td>Nombre del Curso:</td>
            <td>@i.Curso</td>
        </tr>
        <tr>
            <td>Horario:</td>
            <td>@i.Horario</td>
        </tr>
        <tr>
            <td>Numero de Aula:</td>
            <td>@i.Aula</td>
        </tr>
        <tr>
            <td>Nombre del Profesor:</td>
            <td>@i.profesor</td>
        </tr>
        <tr>
            <td>Fecha de Inicio:</td>
            <td>@i.FechaInicio.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Fecha Final:</td>
            <td>@i.FechaFinal.ToShortDateString()</td>
        </tr>
    </table>
    }
</body>
</html>
