@model Sinem.Models.GestionCurso2

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de curso</h2>

<div>
    <h4>GestionCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aula2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aula2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curso2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curso2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cupo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cupo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModifica)
        </dd>

    </dl>
</div>
<h4>Estudiantes matriculados</h4>
<table class="table">
    <tr>
        <th>
            @*encabezado de la tabla que lo pone en negrita *@

            nombre
        </th>
        <th>
            apellidos
        </th>
        <th>
 
        <th></th>
    </tr>

    @foreach (var item in Model.Estudiantes)
    {
        <tr>
            <td>
                @*Es cada celda*@
                @Html.DisplayFor(modelItem => item.nombre) @*muestra la etiqueta  idGestionCurso *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos) @*muestra la etiqueta fecha *@
            </td>
          
            <td>
               @Html.ActionLink("Desmatricular","Desmatricular", new { idGestionCurso=Model.idGestionCurso, idEstudiante=item.idUsuario  })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idGestionCurso }) |
    @Html.ActionLink("Regresar", "Index")
</p>
