@model Sinem.Models.GestionCurso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>GestionCurso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idGestionCurso)

        <div class="form-group">
            @Html.LabelFor(model => model.idCurso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCurso", ViewBag.ListaCursos as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCurso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idHorario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idHorario", ViewBag.ListaHorarios as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idHorario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idAula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idAula", ViewBag.ListaAulas as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idAula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idUsuario", ViewBag.ListaUsuarios as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="form-group">
                <input type="text" class="form-control date-picker" value="" data-datepicker-color="primary" id="fechaInicio" name="fechaInicio">
            </div>

            @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="form-group">
                <input type="text" class="form-control date-picker" value="" data-datepicker-color="primary" id="fechaFinal" name="fechaFinal">
            </div>

            @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>


    @Html.HiddenFor(model => model.usuarioCrea)
    @Html.Hidden("fechaRegistro", Model.fechaRegistro.ToShortDateString())
    @Html.Hidden("fechaModifica", DateTime.Today.ToShortDateString())
    @Html.Hidden("usuarioModifica", User.Identity.Name)

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $('.date-picker').each(function () {
        $(this).datepicker({
            format: 'dd/mm/yyyy',
            templates: {
                leftArrow: '<i class="now-ui-icons arrows-1_minimal-left"></i>',
                rightArrow: '<i class="now-ui-icons arrows-1_minimal-right"></i>'
            }
        }).on('show', function () {
            $('.datepicker').addClass('open');

            datepicker_color = $(this).data('datepicker-color');
            if (datepicker_color.length != 0) {
                $('.datepicker').addClass('datepicker-' + datepicker_color + '');
            }
        }).on('hide', function () {
            $('.datepicker').removeClass('open');
        });
    });
    </script>
}