@model IEnumerable<Sinem.Models.Vista_CursoMatriculable>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de cursos a gestionar</h2>

<p>
    @if (ViewBag.Asistencia == false)
    {
        <img src="/Content/Plus_16px.png" />
        @Html.ActionLink("Crear nuevo curso", "Create")
    }
</p>
<table class="table table-striped">
    <tr>
        <th>Curso</th>
        <th>Aula</th>
        <th>Horario</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>

        <th> </th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Curso</td>
            <td>@i.Aula</td> 
            <td>@i.Horario</td>
            <td>@i.FechaInicio.ToShortDateString()</td>
            <td>@i.FechaFinal.ToShortDateString()</td>

            
            <td>
                @if (ViewBag.Asistencia)
                {
                    <img src="/Content/People_16px.png" />
                    @Html.ActionLink("ver asistencia", "IndexAdmin", "AsistenciaEstudiante", new { id = i.idGC, asistencia=true }, null)

                }
                else
                {
                    <img src="/Content/Edit_16px.png" />
                    @Html.ActionLink("Editar", "Edit", new { id = i.idGC }) <br>
                    <img src="/Content/People_16px.png" />
                    @Html.ActionLink("Ver asistencia", "IndexAdmin", "AsistenciaEstudiante", new { id = i.idGC, asistencia=false }, null) <br>
                    <img src="/Content/Identification Documents_16px.png" />
                    @Html.ActionLink("Ver detalles", "Details", new { id = i.idGC }) <br>


                    @Html.ActionLink(i.estado == "activo" ? "Desactivar" : "Activar", "Delete", new { id = i.idGC })

                }
            </td>
        </tr>
    }

</table>

