@model IEnumerable<Sinem.Models.Salario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre 
        </th>
        <th>Fecha dde pago</th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @((ViewBag.ListaProfesores as IEnumerable<Sinem.Models.Permiso2>).Where(x=>x.idUsuario==item.idUsuario).FirstOrDefault().nombrecompleto)
        </td>
        <td>@Html.DisplayFor(modelItem=>item.fechaRegistro)</td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
             </td>
    </tr>
}

</table>
